body{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
    padding: 10px;
}



.header a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.img-flex-entreprise{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
   	place-items: center;
    gap: 30px;
    margin: 0 auto;
}

footer{
    width: 100%;
    height: 7vh;
    background-color: gray;
}