body{
    font: 400 12px/16px;
    width: 100%;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
    padding: 10px;
}

.header a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

footer{
    width: 100%;
    height: 7vh;
    background-color: gray;
}
